<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>

  <appSettings>
    <!-- future -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jblfiles;AccountKey=XXXXXXXXXX" />
    <!-- active -->
    <add key="WatchFolder" value="C:\PSTEMP\" />
    <add key="WatchFolderTemp" value="C:\PSTEMP\TEMP\" />
    <add key="FileMask" value="*.pdf" />
    <add key="AzureAccount" value="jblfiles" />
    <add key="AzureKey" value="XXXXXXXXXX" />
    <add key="UseHTTPS" value="1" />
    <add key="FileShare" value="jblstorage" />
    <add key="TargetFolder" value="pstemp" />
    <add key="AZCopyHr" value="23" />
    <add key="AzCopyCommand" value="c:\jbl\AzCopy\AzCopy.exe" />
    <add key="AzCopyArgument" value="/Source:C:\PSTEMP\  /Dest:https://jblfiles.file.core.windows.net/jblstorage/pstemp/ /DestKey:XXXXXXXXXX /Pattern:*.pdf /XO /MT /Y" />
    <add key="AttachDebugger" value="1" />
    <add key="LogTimerEvents" value="1" />
    <add key="AutoAzCopyMinutes" value="0" />
    <add key="RunAzCopy" value="0" />
    <add key="SQLConnectString" value="Server=tcp:jblpatent.database.windows.net,1433;Initial Catalog=JBL;Persist Security Info=False;User ID=XXXXXXXXXXXXXXX;Password=XXXXXXXXXXXX;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="TrashFolder" value="C:\PSTEMP\TRASH\" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
